@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #edf2f8;
    --secondary-bg: #fff;
    --black: #111;
    --blue: #323bac;
    --gray: #747474;
    --light-gray: #ccc;
}

body {
    font-size: 62.5%;
    color: var(--black);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a, span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease-in-out;
}

ul {
    list-style: none;
}

section {
    padding: 5rem;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

#header {
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background: rgba(237, 242, 248, 0.3);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    z-index: 111;
}

.navbar {
    padding: 1rem 0;
}

.navbar ul {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--gray);
    text-transform: uppercase;
}

.navbar li {
    text-align: center;
}

.dot {
    font-size: 0.4rem;
}

.navbar a {
    display: block;
}

.navbar a:hover {
    color: var(--blue);
}

.active {
    color: var(--blue);
    font-weight: 600;
}

.navbar li > .dot {
    visibility: hidden;
}

.active > .dot {
    visibility: visible !important;
}

.menu-icon {
    text-align: center;
    width: 2rem;
    background: var(--blue);
    color: var(--secondary-bg);
    aspect-ratio: 2 / 2;
    border-radius: 50%;
    cursor: pointer;
}

.align-items-baseline {
    align-items: baseline;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 2rem;
}

.footer > div {
    align-items: baseline !important;
}

.footer .copyright {
    text-transform: uppercase;
}

.footer .social-icons {
    font-size: 1rem;
}

.social-icons ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    background: var(--secondary-bg);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: 1.2rem;
}

.social-icons a:hover {
    background: var(--blue);
    color: var(--secondary-bg);
}

#cases {
    height: 100vh;
    background: var(--primary-bg);
    position: relative;
}

.circles {
    position: fixed;
    right: 8%;
    top: 30%;
    color: var(--gray);
}

.circles ul > li {
    margin: 1rem 0;
}


.intro-card {
    position: absolute;
    background: #fff;
    border-radius: 1rem;
}

#cases .introduction {
    padding: 1.5rem 1.5rem 1.5rem 7rem;
    bottom: 50%;
}

.introduction h1 {
    font-size: 2rem;
}

.introduction span {
    font-size: 0.8rem;
    color: var(--gray);
}

#cases .job {
    padding: 1rem 2rem;
    bottom: 30%;
    left: 20%;
    font-weight: 500;
    text-transform: uppercase;
}

.floating-text {
    position: absolute;
}

.animation {
    right: 35%;
    top: 25%;
}

.interaction {
    right: 25%;
    top: 45%;
}

.illustration {
    right: 30%;
    top: 60%;
}